
<ng-template #noImage let-personneName="name">
    <p> {{personneName}} has no Image Availabe yet </p>
    <img src="/assets/empty.jpeg"/>
</ng-template>
     
  
  <ng-container *ngIf="(etudiants$ | async) as etudiants">
  
  
  <app-personnes *ngFor="let per of etudiants;
   index as index;let first = first;let last = last;
   let even = even;let odd = odd;"
  
  (personneselected)="personneselectionne($event)" 
  [personne]='per'
  [index]='index' 
  [class.is-first]="first"
  [class.is-last]="last"
  [class.is-odd]="odd"
  [class.is-even]="even"
  [noImageTmpl]="noImage"
  ></app-personnes>
  
  </ng-container>
  

  