<div class="Personnes">

    <div class="personne-card" [ngStyle]="PersonStyle" appHighlight #hiliter = 'hl'>
        {{index}}

      <div class="personne-Name">
            {{personne.firstName}}   {{personne.lastName}}

        </div>


            <img *ngIf="personne.picture;else noImg" 
            width="300" alt="Angular Logo" [src]='personne.picture'>
     
            <ng-template #noImg>

                <ng-container *ngTemplateOutlet="noImageTmpl; context :
                 {name : personne.lastName}" >
                   
                </ng-container>       

            </ng-template>

            


        <div class="personne-description">
                {{personne.address}}
        </div>

        <div [ngSwitch]="personne.categorie">
            <div *ngSwitchCase=" 'dev' " class="dev">Developpeur</div>
            <div *ngSwitchCase=" 'commercial' " class="com">commercial</div>
            <div *ngSwitchCase=" 'ingenieur' " class="inge">ingenieur</div>
            <div *ngSwitchDefault> not defined</div>

        </div>
     
              <!-- <button (click)="hiliter.toogle()" appTooltip="Ceci est un tooltip!" > Details sur le personne </button> -->
        
        <button (click)="OnpersennedView()" appTooltip="Ceci est un tooltip!" > Details sur le personne </button>
    </div>
</div>
    