<h1>Welcome Student</h1>

<app-personnes (personneselected)="personneselectionne($event)" [personne]='etudiants[0]' ></app-personnes>
<app-personnes [personne]='etudiants[1]'></app-personnes>
<app-personnes [personne]='etudiants[2]'></app-personnes>

<!-- <ul>
  <li *ngFor="let student of etudiants">
      {{ student.firstName }}  {{ student.lastName }} - Age: {{ student.age }}
  </li>
 
</ul>

<input #input type="number" (keyup.enter)="OnpersnneClicked(input.value)" />

<p *ngIf="personneselected">
  vous avez selectionné Mr ou Mme 
  {{personneselected.firstName}} {{personneselected.lastName}}
</p>

<p *ngIf="!personneselected">
  pas de personne selectionnée encore 
</p> -->

