<h1>Welcome Student le nombre 2 son exposant {{2|exponential:3 }} </h1>

<!-- @for (per of etudiants; track per?.id; let index = $index;let count = $count;
let first =$first;let last =$last;let odd=$odd;let even =$even) 
{
  <p> count : {{count}}</p>
  <app-personnes 
  (personneselected)="personneselectionne($event)" 
  [personne]='per'
  [index]='index' 
  [class.is-first]="first"
  [class.is-last]="last"
  [class.is-odd]="odd"
  [class.is-even]="even"
  
  ></app-personnes>
}
@empty {
  <p>No student Found</p>
} -->

<!-- <div *ngFor="let pair of etudiants[0] |keyvalue">
    {{'key'+'  '+pair.key + '   ' +'value'+'  '++ pair.value}}
  </div>
  
<div *ngxUnless="true"> hello ma propre structural directive </div> -->

<ng-template #noImage let-personneName="name">
  <p> {{personneName}} has no Image Availabe yet </p>
  <img src="/assets/empty.jpeg"/>
</ng-template>
  
<!-- <ng-container 
*ngTemplateOutlet="noImage ;
 context : {personneName:etudiants[0].firstName} ">

</ng-container> -->
<!-- <ng-template [ngIf]="etudiants[0]" let-per>

<app-personnes
(personneselected)="personneselectionne($event)"
 [personne] = 'per'
[noImageTmpl]="noImage"
/>

</ng-template> -->



<app-personnes *ngFor="let per of etudiants;
 index as index;let first = first;let last = last;
 let even = even;let odd = odd;"

(personneselected)="personneselectionne($event)" 
[personne]='per'
[index]='index' 
[class.is-first]="first"
[class.is-last]="last"
[class.is-odd]="odd"
[class.is-even]="even"
[noImageTmpl]="noImage"
></app-personnes>

<!-- <app-personnes  *ngFor="let per of (etudiants )  ; index as i; let first = first; let last = last; 
even as ev ; odd as odd;"
(PersonneSelected)="OnPersonneSelected($event)" [personne] = "per" 
[index] = "i +1"   [class.is-first]="first"     [class.is-last]="last"
[class.is-even]="ev"     [class.is-odd]="odd"
[noImageTmpl]="noImage"
class="col s12 m6 l4"
    /> -->

<!-- <app-personnes [personne]='etudiants[1]'></app-personnes>
<app-personnes [personne]='etudiants[2]'></app-personnes> -->

<!-- <ul>
  <li *ngFor="let student of etudiants">
      {{ student.firstName }}  {{ student.lastName }} - Age: {{ student.age }}
  </li>
 
</ul>

<input #input type="number" (keyup.enter)="OnpersnneClicked(input.value)" />

<p *ngIf="personneselected">
  vous avez selectionné Mr ou Mme 
  {{personneselected.firstName}} {{personneselected.lastName}}
</p>

<p *ngIf="!personneselected">
  pas de personne selectionnée encore 
</p> -->

